<launch>
    <!-- controllers of robot -->
    <rosparam file="$(find arm_description)/config/arm_controllers.yaml" command="load"/>
    <node
            pkg="controller_manager"
            type="spawner"
            name="arm_controllers_spawner"
            args="shoulder_pan_joint_controller
                  shoulder_lift_joint_controller
                  elbow_joint_controller
                  wrist_1_joint_controller
                  wrist_2_joint_controller
                  wrist_3_joint_controller"
            respawn="false"
            output="screen"
    />
</launch>
