<launch>
    <!-- controllers of robot -->
    <rosparam file="$(find arm_description)/config/arm_controllers.yaml" command="load"/>
    <node pkg="controller_manager"
          type="controller_manager"
          name="arm_body_joint_controller_spawner"
          args="spawn
            motor_S_joint_controller motor_L_joint_controller motor_U_joint_controller
            motor_R_joint_controller motor_B_joint_controller motor_T_joint_controller"
          respawn="false"
          output="screen"
    />
</launch>
