<launch>

  <!-- If database loading was enabled, start mongodb as well -->
  <include file="$(find learning_moveit)/launch/demo_gazebo.launch">
    <arg name="urdf_path" value="$(find learning_moveit)/urdf/robot.urdf.xacro"/>
  </include>

  <!-- controllers of arm_body -->
  <include file="$(find learning_description)/launch/arm_body_controllers.launch"/>
  <include file="$(find learning_description)/launch/arm_hand_controllers.launch"/>

  <!-- joint_state_controller -->
  <include file="$(find learning_description)/launch/joint_state_controller.launch"/>

</launch>
