<launch>

    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find arm_bhand_description)/robots/arm_bhand_fixed.urdf.xacro'"/>

    <!-- controllers of robot -->
    <include file="$(find arm_description)/launch/arm_controllers.launch"/>
    <include file="$(find arm_bhand_description)/launch/bhand_controllers.launch"/>

    <!-- common launch files -->
    <include file="$(find arm_common)/launch/gazebo_common.launch"/>

</launch>
