<launch>
    <!-- controllers of robot -->
    <rosparam file="$(find arm_gazebo)/config/ros_controllers.yaml" command="load"/>
    <node
            pkg="controller_manager"
            type="spawner"
            name="ros_controllers_spawner"
            args="arm_controller"
            respawn="false"
            output="screen"
    />
</launch>
