<launch>

  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find arm_description)/robots/arm_fixed.urdf.xacro'"/>

  <!-- If needed, broadcast static tf for robot root -->


  <!-- Load the controllers -->
  <include file="$(find arm_gazebo)/launch/ros_controllers.launch"/>

  <!-- common launch files -->
  <include file="$(find arm_common)/launch/moveit_common.launch">
    <arg name="moveit_config" value="$(find arm_moveit_config)"/>
  </include>

</launch>
