<launch>
  <arg name="base" default="$(find learning_description)"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg base)/urdf/arm_description.urdf.xacro'"/>
  <param name="use_gui" value="true"/>

  <!-- rviz节点 -->
  <node
    pkg="rviz"
    type="rviz"
    name="rviz"
    required="true"
    args="-d $(arg base)/config/arm_urdf.rviz"
  />

  <!-- 监控与控制节点 -->
  <node
    pkg="robot_state_publisher"
    type="state_publisher"
    name="state_publisher"
  />
  <node
    pkg="joint_state_publisher"
    type="joint_state_publisher"
    name="joint_state_publisher"
  />
</launch>
