<?xml version="1.0" ?>
<robot name="arm_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- arm -->
    <xacro:include filename="$(find learning_description)/urdf/arm_description.urdf.xacro"/>

    <arm_hand/>

    <link name="world"/>

    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link = "base_link"/>
        <origin xyz="0.0 0.0 0.02" rpy="0.0 0.0 0.0"/>
    </joint>

</robot>